/* #icat-bber {
    margin-top: 1.5rem;
    width: 100%;
  }
  #icat-bber #waterfall.list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  #icat-bber .icat-timeline #waterfall {
    opacity: 0;
    transition: .3s;
  }
  #icat-bber .icat-timeline #waterfall.show {
    opacity: 1;
  }
  #icat-bber .icat-timeline #waterfall .icat-bber-item {
    position: relative;
    width: 32%;
    border: var(--style-border-always);
    border-radius: 12px;
    padding: 1rem 1rem 0.9rem;
    transition: all 0.3s ease 0s;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    background: var(--icat-card-bg);
    box-shadow: var(--icat-shadow-border);
    margin-right: 2%;
    animation: slide-in .6s .4s backwards;
  }
  #icat-bber > section > #waterfall > .icat-bber-item {
    margin-bottom: 1rem;
  }
  #icat-bber .icat-timeline #waterfall .icat-bber-item:hover {
    border: var(--style-border-hover);
  }
  @media screen and (max-width: 1300px) {
    #icat-bber .icat-timeline #waterfall .icat-bber-item {
      width: 49%;
      margin-right: 1%;
    }
  }
  @media screen and (max-width: 768px) {
    #icat-bber .icat-timeline #waterfall .icat-bber-item {
      width: 100%;
      margin-right: 0px;
    }
  }
  响应式
  
  #icat-bber div.icat-bber-content {
    display: flex;
    flex-flow: wrap;
    border-radius: 12px;
    width: 100%;
    height: 100%;
  }
  #icat-bber p {
    margin: 0px;
  }
  #icat-bber .icat-bber-content .datacont {
    order: 0;
    font-size: 0.8rem;
    font-weight: 700;
    color: var(--icat-fontcolor);
    width: 100%;
    line-height: 1.38;
    border-radius: 12px;
    margin-bottom: 0.8rem;
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 0px 8px;
  }
  #icat-bber .icat-bber-container-img {
    display: flex;
    gap: 8px;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 10px;
    padding-left: 8px;
  }
  #icat-bber .icat-bber-container-img .imgbox {
    width: calc(100% / 4 - 8px);
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 6px;
  }
  #icat-bber .icat-bber-container-img .imgbox .icat-bber-content-img {
    height: 100px;
    display: flex;
    position: relative;
  }
  #icat-bber .icat-bber-container-img .imgbox .icat-bber-content-img img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    border-radius: 6px;
    animation: slide-in .6s .4s backwards;
  }
  #icat-bber .icat-bber-video {
    position: relative;
    padding: 30% 50%;
    margin-bottom: 10px
  }
  #icat-bber .icat-bber-video video,
  #icat-bber .icat-bber-video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
    border-radius: 6px;
    border: var(--style-border);
  }
  #icat-bber .icat-bber-music {
    width: 100%;
    height: 90px;
    margin: 0 0 0.5rem;
    border-radius: 8px;
    overflow: hidden;
    border: var(--style-border-always);
    background: var(--icat-secondbg);
  }
  #icat-bber .aplayer {
    margin: 0;
  }
  #icat-bber .aplayer.aplayer-withlrc .aplayer-pic {
    height: 82px;
    width: 82px;
    margin: 4px;
    border-radius: 4px;
  }
  .icat-bber-music .aplayer.aplayer-withlrc .aplayer-info {
    padding: 5px 7px 0;
  }
  #icat-bber .aplayer .aplayer-info .aplayer-music {
    height: 23px;
    text-align: center;
  }
  #icat-bber .aplayer .aplayer-info .aplayer-music .aplayer-title {
    font-size: 0.8rem;
    font-weight: 700;
    margin: 0;
    color: var(--icat-fontcolor);
  }
  #icat-bber .aplayer .aplayer-info .aplayer-controller {
    align-items: center;
  }
  #icat-bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap {
    padding: 0;
  }
  #icat-bber .aplayer .aplayer-info .aplayer-controller .aplayer-time {
    position: initial;
  }
  #icat-bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar {
    background: var(--icat-gray);
    height: 8px;
    border-radius: 12px;
    transition: 0.3s;
    overflow: hidden;
  }
  #icat-bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-loaded {
    height: 100%;
    border-radius: 12px;
  }
  #icat-bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played {
    height: 100%;
    border-radius: 12px;
  }
  #icat-bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played .aplayer-thumb {
    display: none;
  }
  #icat-bber .aplayer .aplayer-info .aplayer-controller .aplayer-time {
    position: initial;
  }
  #icat-bber .aplayer .aplayer-lrc p {
    color: var(--icat-fontcolor);
  }
  #icat-bber .icat-timeline #waterfall .icat-bber-item hr {
    display: flex;
    position: relative;
    margin: 8px 0px;
    border: 1px dashed var(--icat-blue);
    width: 100%;
    opacity: 0.4;
  }
  #icat-bber .icat-bber-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
  }
  #icat-bber .icat-bber-info {
    display: flex;
  }
  #icat-bber > section > #waterfall > .icat-bber-item > div .icat-bber-info-time,
  #icat-bber > section > #waterfall > .icat-bber-item > div .icat-bber-info-from {
    color: var(--icat-fontcolor);
    font-size: 0.7rem;
    background-color: var(--icat-gray-op);
    padding: 0px 8px;
    border-radius: 20px;
    cursor: default;
    display: flex;
    align-items: center;
    padding-right: 12px;
  }
  #icat-bber > section > #waterfall > .icat-bber-item > div .icat-bber-info-time > i {
    padding-right: 4px;
  }
  #icat-bber > section > #waterfall > .icat-bber-item > div .icat-bber-info-from {
    margin-left: 0.5rem;
  }
  #icat-bber > section > #waterfall > .icat-bber-item > div .icat-bber-info-from span {
    margin-left: 0.35rem;
  }
  #icat-bber .icat-bber-content-link {
    display: flex;
    margin-left: 0.5rem;
    font-size: 0.7rem;
    align-items: center;
    background-color: rgba(245, 108, 108, 0.13);
    color: rgb(245, 108, 108);
    padding: 0px 8px;
    border-radius: 20px;
    padding-right: 10px;
  }
  #icat-bber .icat-bber-content-link i {
    margin-right: 4px;
  }
  #icat-bber .icat-bber-content-link:hover {
    background-color: var(--icat-main);
    color: var(--icat-white);
  }
  #icat-bber-tips {
    font-size: 14px;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  
  [data-theme="dark"] #icat-bber .icat-timeline #waterfall .icat-bber-item hr {
    opacity: 0.2;
  }
  [data-theme="dark"] #icat-bber .icat-bber-music .aplayer,
  [data-theme="dark"] #icat-bber .aplayer .aplayer-lrc:before,
  [data-theme="dark"] #icat-bber .aplayer .aplayer-lrc:after {
    background: var(--icat-card-bg);
    color: var(--icat-fontcolor);
  }
  
   */
#page:has(#essay_page) {
    border: 0;
    box-shadow: 0 0 10px rgb(97, 103, 196) !important;
    padding: 0 !important;
    background: transparent !important;
}
#page:has(#essay_page) .page-title {
    display: none;
}
#web_bg ~ .page:has(#essay_page) {
    background: var(--icat-essay-background);
}
#bber .bber-container-img {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 0.3rem;
}
#bber .bber-container-img .bber-content-noimg {
    width: calc(100% / 4 - 5px);
}

#bber .bber-content-img img {
    object-fit: cover;
    max-height: 100%;
    border-radius: 12px;
}

#bber .bber-content-img {
    height: 100px;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    position: relative;
    margin-bottom: 10px;
}

#bber .bber-content .datacont {
    order: 0;
    font-size: 0.9rem;
    font-weight: 700;
    color: var(--icat-essay-fontcolor);
    width: 100%;
    line-height: 1.38;
    border-radius: 12px;
    margin-bottom: 0.8rem;
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 0px 8px;
}
#bber p {
    margin: 0px;
}
#bber div.bber-content {
    display: flex;
    flex-flow: wrap;
    border-radius: 12px;
    width: 100%;
    height: 100%;
}

element.style {
  position: absolute;
}

#bber .timeline ul li.bber-item {
    position: relative;
    width: calc(32% + 1px);
    border: 0.7mm dashed #f3cf819a;
    border-radius: 10px;
    padding: 1rem 1rem 0.5rem;
    transition: all 0.3s ease 0s;
    display: flex;
    flex-direction: column;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    background: rgb(144, 171, 206);
    box-shadow: var(--icat-essay-shadow-border);
    margin-right: 2%;
    margin: 3px;
}
#bber .timeline #waterfall.show {
    opacity: 1;
}
#bber .timeline #waterfall {
    opacity: 1;
    transition: all 0.3s ease 0s;
}
#bber ul.list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
#bber {
    margin-top: 1rem;
    width: 100%;
}
#bber > section > ul > li.bber-item {
    margin-bottom: 1rem;
}

#bber-tips {
    font-size: 14px;
    color:blanchedalmond;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    
}

#bber .timeline ul li.bber-item hr {
    display: flex;
    position: relative;
    margin: 8px 0px;
    border: 1px dashed rgb(134, 107, 33);
    width: 100%;
    margin: -9px;
}

#bber .bber-info {
    display: flex;
}

#bber > section > ul > li > div .bber-info-time,
#bber > section > ul > li > div .bber-info-from {
    color: var(--icat-essay-fontcolor);
    font-size: 0.7rem;
    background-color: rgb(235, 225, 192);
    opacity: 0.6;
    padding: 0px 4px;
    border-radius: 8px;
    cursor: default;
    display: flex;
    align-items: center;
    padding-right: 10px;
}

#bber > section > ul > li > div .bber-info-time > i {
    padding-right: 2px;
}

#bber .bber-info .far.fa-clock {
    margin-right: 4px;
}
#bber > section > ul > li > div .bber-info-from span,
#bber > section > ul > li > div .bber-info-from {
    margin-left: 4px;
}

#bber .bber-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

#bber .timeline ul li.bber-item:hover {
    border: 0.8mm solid rgb(238, 196, 58);
}

#bber .bber-content-link {
    display: flex;
    margin-left: 0.5rem;
    font-size: 0.7rem;
    align-items: center;
    background-color: rgba(245, 108, 108, 0.13);
    color: rgb(126, 59, 5);
    padding: 0px 8px;
    border-radius: 20px;
    padding-right: 10px;
}
#bber .bber-content-link i {
    margin-right: 3px;
}
#bber .bber-content-link:hover {
    background-color: var(--icat-essay-main);
    color: var(--icat-essay-white);
}
#bber .bber-music {
    width: 100%;
    height: 90px;
    margin: 0.5rem 0;
    border-radius: 8px;
    overflow: hidden;
    border: var(--icat-style-border-always);
    background: var(--icat-essay-secondbg);
}
#bber .aplayer {
    margin: 0;
}

#bber .aplayer.aplayer-withlrc .aplayer-pic {
    height: 82px;
    width: 82px;
    margin: 4px;
    border-radius: 4px;
}
.bber-music .aplayer.aplayer-withlrc .aplayer-info {
    padding: 5px 7px 0;
}
#bber .aplayer .aplayer-info .aplayer-music {
    height: 23px;
}
#bber .aplayer .aplayer-info .aplayer-music .aplayer-title {
    font-size: 0.8rem;
    font-weight: 700;
    margin: 0;
    color: var(--icat-essay-fontcolor);
}

#bber .aplayer .aplayer-info .aplayer-controller {
    align-items: center;
}
#bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap {
    padding: 0;
}
#bber .aplayer .aplayer-info .aplayer-controller .aplayer-time {
    position: initial;
}
#bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar {
    background: var(--icat-essay-gray);
    height: 8px;
    border-radius: 12px;
    transition: 0.3s;
    overflow: hidden;
}
#bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-loaded {
    height: 100%;
    border-radius: 12px;
}
#bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played {
    height: 100%;
    border-radius: 12px;
}
#bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played .aplayer-thumb {
    display: none;
}
#bber .aplayer .aplayer-info .aplayer-controller .aplayer-time {
    position: initial;
}

  /* 顶部样式 */
.author-content.author-content-item.essayPage {
    height: 19rem;
    background: url(https://picbed.lazy-a.top/img/default_cover_243.png) left 28% / cover no-repeat;
    color: rgb(238, 196, 58);
    overflow: hidden;
    margin-top: 0px;
    border-radius: 8px;
}
#page:has(#essay_page) .author-content-item .card-content .banner-button-group .banner-button:hover {
    font-size: var(--icat-essay-font-color-op);
    border-radius: 20px !important;
}

.author-content-item .card-content {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
}
.author-content-item .author-content-item-tips {
    opacity: .8;
    font-size: .6rem;
    margin-bottom: 0.5rem;
}
.author-content-item .card-content .author-content-item-title {
    margin-bottom: 0.5rem;
}
.author-content-item .author-content-item-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1;
}
.author-content-item .content-bottom {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.author-content-item .card-content .banner-button-group .banner-button {
    height: 40px;
    width: 124px;
    border-radius: 20px;
    justify-content: center;
    background: var(--icat-essay-card-bg);
    color: var(--icat-essay-font-color);
    display: flex;
    align-items: center;
    z-index: 1;
    transition: .3s;
    cursor: pointer;
    border-bottom: 0!important;
}
.author-content-item .card-content .banner-button-group .banner-button i {
    margin-right: 4px;
    font-size: 1rem;
}
.banner-button-text {
    padding-right: 5px;
}
.banner-button-group {
    margin-top: 10px;
}

  /* 响应式 */
@media screen and (max-width: 1300px) {
    #bber .timeline ul li.bber-item {
      width: 49%;
      margin-right: 1%;
    }
}
@media screen and (max-width: 768px) {
    #bber .timeline ul li.bber-item {
      width: 100%;
      margin-right: 0px;
    }
    .author-content-item .card-content .banner-button-group .banner-button {
      width: 40px;
    }
    .author-content-item .card-content .banner-button-group .banner-button i {
      margin-right: 2px;
    }
}
[data-theme="dark"] #bber .bber-music .aplayer,
[data-theme="dark"] #bber .aplayer .aplayer-lrc:before,
[data-theme="dark"] #bber .aplayer .aplayer-lrc:after {
    background: var(--icat-essay-card-bg);
    color: var(--icat-essay-fontcolor);
}
#bber .aplayer .aplayer-lrc p {
    color: var(--icat-essay-fontcolor);
}
