<link rel="stylesheet" class="aplayer-secondary-style-marker" href="\assets\css\APlayer.min.css"><script src="\assets\js\APlayer.min.js" class="aplayer-secondary-script-marker"></script>/* 热评 */
#comment-barrage {
    display: block;
    position: fixed;
    z-index: 1;
    font-size: 90%;
    bottom: 1rem;
    right: 2rem;
    width: 306px;
    height: 150px;
    overflow: hidden;
  }
  
@media screen and (max-width: 900px) {
    #comment-barrage {
      display: none !important;
    }
}

#comment-barrage .comment-barrage-item {
    opacity: 0;
    width: 300px;
    height: fit-content;
    max-height: 144px;
    padding: 10px;
    position: absolute;
    margin: 0 3px;
    bottom: 5px;
    background: var(--card-bg);
    border: var(--card-border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  
#comment-barrage .swiper-slide-active .comment-barrage-item {
    opacity: 1;
  }
  
#comment-barrage .comment-barrage-item:hover {
    border-color: var(--main) !important;
    box-shadow: var(--main-shadow) !important;
  }
  
.barrage-info {
    overflow: hidden;
    font-size: 90%;
    height: 35px;
    border-bottom: var(--card-border-dashed);
  }
  
.barrage-info span {
    margin: 0 .2em;
    vertical-align: middle;
  }
  
.barrage-title {
    font-weight: bold;
    padding: .3em 0.5em;
    background: var(--font-color);
    color: var(--card-bg);
    margin-right: .5em;
    border-radius: .5em;
    vertical-align: middle;
  }

.barrage-title:hover {
    color: var(--second);
    background: var(--main);
  }

.barrage-avatar {
    height: 2em;
    width: 2em;
    border-radius: 50%;
    vertical-align: middle;
  }

.barrage-nick {
    font-weight: bold;
  }

.barrage-close {
    position: absolute;
    top: 0;
    right: 10px;
  }

.barrage-content {
    padding-top: 5px;
    max-height: 95px;
    height: fit-content;
    overflow-y: scroll;
    text-align: justify;
    word-break: break-all;
  }

.barrage-content a {
    color: var(--font-color);
  }

.barrage-content a:hover {
    color: var(--theme-color);
  }

.barrage-content p {
    margin: 0;
  }

.barrage-content img {
    width: 3em;
  }